* {
  padding: 0;
  margin: 0;
}

#landing-page {
  background-image: url('./front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title-background {
  background: #070707;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

p {
  color: #eee;
}

.middle {
  width: fit-content;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: cyan;
  border: darkgreen 5px solid;
}

.middle p {
  text-align: center;
  color: red;
}

.odatabs {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  margin-top: -1em;
}

.odatabs p {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-weight: 700;
}

.p1 {
  color: yellow;
  text-decoration: none;
  font-size: 15px;
}

.p2 {
  color: rgb(60, 255, 0);
  text-decoration: none;
}

.last-div {
  display: block;
}

.opened-div {
  display: block;
}

.last-div p {
  font-size: 100px;
}

.p3 {
  color: magenta;
  text-decoration: none;
}

.p4 {
  text-decoration: none;
  color: white;
}

.marq {
  color: red;
  font-weight: 700;
}

.title {
  text-align: center;
  color: #d0d3d4;
  font-size: 2em;
}

/* nav slider */

.nav-slider {
  padding: 15px;
  cursor: pointer;
}

.line {
  background: #eee;
  height: 3px;
  margin: 5px;
  width: 30px;
}

.line:nth-child(1) {
  margin-top: 0;
}

/* nav slider section */

.nav-slider-section {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}

.close-nav-slider {
  border: none;
  outline: none;
  float: right;
  background: transparent;
  color: #f1c40f;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links-container li {
  text-align: center;
  padding: 10px;
}

.nav-links {
  text-decoration: none;
  color: #eee;
  font-size: 1.5em;
}

.openNav {
  animation: openNav 0.5s forwards;
}

.closeNav {
  animation: closeNav 0.5s forwards;
}

/* menu */

#menu {
  background: #000;
}

.menu-title {
  color: #d0d3d4;
  text-align: center;
  padding: 25px;
  font-size: 2em;
}

/* tabs */

.tabs-container {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.tabHeader {
  border: none;
  outline: none;
  background: transparent;
  color: #eee;
  padding: 6px 12px;
  font-size: 1em;
  cursor: pointer;
}

.active-tab {
  border: 1px solid #eee;
  border-bottom: none;
}

.tabSection {
  border: 1px solid white;
  padding: 15px;
  line-height: 30px;
}

.hide-tab {
  display: none;
}

.show-tab {
  display: block;
}

.menu-price {
  float: right;
}

.change {
  color: red;
}

#about {
  background-image: url('./resta.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

/* restaurant information */

#restaurant-info {
  background: #070707;
  padding-bottom: 20px;
}

.restaurant-info-title {
  color: #d3cac8;
  text-align: center;
}

.address-content,
.hours {
  font-size: 1em;
  text-align: center;
}

.address,
.business-hours,
.contact-content {
  line-height: 30px;
}

.anotherdiv {
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  padding-top: 20px;
}

.anotherdiv p {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-weight: 700;
}

.food {
  display: flex;
  justify-content: space-evenly;
}

.drinkdiv p {
  cursor: pointer;
}

.phone {
  margin-bottom: 0;
  font-size: 1em;
  text-align: center;
}

.address-content,
.business-hours,
.contact-content {
  padding: 10px;
}

.forms {
  width: 90%;
  line-height: 40px;
  margin: auto;
}

.header {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.header h2 {
  color: #eee;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-weight: 700;
  margin-top: 20px;
}

.head {
  float: left;
}

.ul {
  float: right;
  margin-top: 20px;
  background-color: gold;
}

.ul p {
  display: inline;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: blue !important;
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-top: 1%;
}

.showcase h1 {
  color: #fff;
  text-align: center;
  font-family: cursive;
}

.showcase h3 {
  color: #fff;
  text-align: center;
  font-family: cursive;
  letter-spacing: 2px;
}

.category {
  color: #fff;
  margin-top: 5%;
  display: flex;
  text-align: center;
  font-family: cursive;
}

.img {
  border-radius: 50%;
}

h4 {
  font-size: 1rem;
  margin: 3%;
}

.btn {
  background-color: gold;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin-left: 45%;
  margin-top: 20px;
}

.btn p {
  color: blue;
  font-weight: 700;
}

.snacks,
.grill {
  padding-left: 1rem;
}

.snackp {
  color: gold;
  font-weight: bold;
  font-size: 1rem;
}

.foodclass {
  background: url('./lisa.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.forms input {
  width: 100%;
  height: 30px;
  margin: auto;
}

.forms label {
  width: 30%;
}

.reserve {
  width: 30%;
  background-color: black;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.baby {
  line-height: 40px;
  width: 80%;
}

.drinksection {
  width: 100%;
}

.menudiv {
  text-align: center;
}

.themain {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.card {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}

.card.side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card .back {
  transform: rotateY(180deg);
}

.drinkspage {
  background: pink no-repeat;
  background-size: cover;
  height: 100vh;
}

.href {
  background: red;
  font-weight: 700;
  cursor: pointer;
}

.lastlink {
  cursor: pointer;
}

.href:hover {
  background-color: yellow;
  color: black;
}

.cardimage {
  width: 100%;
  transition: all 0.5s;
  height: 300px;
}

.contactform {
  background: url('./contact.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.menuparagraph {
  color: black;
}

.blogcontent {
  text-align: center;
  background: rgb(212, 0, 255);
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 30px;
}

.atlast {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.h3color {
  color: yellow;
  font-weight: 700;
}

.butt {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  color: black;
  height: 30px;
  margin-top: 20px;
  background-color: blue;
  border: none;
}

#drinks {
  background-image: url('./drinks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.colors {
  color: red;
  margin-right: 10px;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr;
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
    color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 0 90px #00fff2;
  }
}

@keyframes openNav {
  100% {
    transform: translateX(0%);
  }
}

@keyframes closeNav {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 760px) {
  .info-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .address-content,
  .business-hours {
    border-right: 1px solid #eee;
    padding: 30px;
  }

  .contact-content {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .text-contain {
    display: flex;
    flex-direction: column;
    float: right;
    line-height: 50px;
    padding-left: 10px;
  }
}
